.logo-container{
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: #F7F7F7;
}
  
.logo{
    height: 50px;
    width: 100%;
    padding: 50px;
}
  
.logo-container img{
    height: 35px;
    width: auto;
}
  
  