.div-navbar{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.div-travel-text{
    font-size: 20px;
    padding: 0px 20px;
    color: white;
}

.div-link a{
    font-size: 15px;
    color: white !important;
    text-decoration: none;
}

a:hover{
    border-bottom: solid 1px red;
}

a.active {
    border-bottom: solid 1px red;
 }

.button-header{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}