.home-container{
  padding-bottom: 100px;
}
.logo-container{
  width: auto;
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
}

.logo{
  height: 50px;
  width: 100%;
  padding: 50px;
}

.logo-container img{
  height: 35px;
  width: auto;
}

.text-category{
  color: #DF6951;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 600;
}

.text-category2{
  font-weight: 700;
  text-align: center;
  color: #181E4B;
  font-size: 45px;
  padding-bottom: 20px;
}

.service-category{
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}

.card-img{
  padding: 10px;
  text-align: center;
}

.card-title{
  text-align: center;
}

.card{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border: none !important;
}

.item-contain{
  padding: 25px;
  text-align: left;
  vertical-align: middle;
}

.text-special{
  color: #DF6951;
  padding-top: 50px;
  text-align: left;
  padding-bottom: 0px;
  font-weight: 600;
}

.item-contain img{
  width: 500px;
}

.booking-section{
  padding-top: 50px;
}

.plan img{
  width: 112%;
}

.middle-banner{
  background-image: url("../public/images/item6.png");
  height: 250px;
  object-fit: cover;
}

.text-banner{
  text-align: right;
}

.button-end{
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 30% !important;
}

.div-top-image{
  margin-top: -300px !important;
  height: min-content;
  padding: 0px 50px;
}

.image-price{
  object-fit: cover;
}